{% extends "eccomerce/base.html"%}
{% block title %}Password Reset{% endblock title %}
{% block content  %}
<div class="container my-5">
    <div class="row my-3">
        <div class="col-sm-9 offset-sm-3">
            <h3>Reset Password</h3>
            <hr>
            <form action="" method="POST" novalidate class="shadow p-5">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary">Submit</button>
                {% if form.errors %}
                    {% for field in form.errors %}
                        <div class="mb-5 p-4  bg-red-300 text-danger">
                            <p class="alert alert-danger">{{ error| escape }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}