{% extends "eccomerce/base.html" %}
{% block title %}Category{% endblock title %}
{% block content %}
   <div class="container my-5">
    <div class="row">
        <div class="col-sm-3">
           
        </div>
        <div class="col-sm-9">
            <div class="row">
                {% for cat in category %}
                <div class="col text-center mb-4">
                    <a href="{{ cat.get_absolute_url}}" class="btn">
                        <div>
                            <img src="{{cat.image.url}}" alt="" width="100px" height="200px">
                            <div class="fw -bold">{{cat.title}}</div>
                            {% if cat.discount_price %}
                            <div class="fw-bold text-danger">
                                $.{{cat.discount_price}}/-
                                <small class="fw-light text-decoration-lina-through">{{cat.price}}</small>
                            </div>
                            {% else %}
                            <div class="fw-bold text-danger">
                                
                                <small class="fw-light text-decoration-lina-through">${{cat.price}}</small>
                            </div>
                            {% endif %}
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
   </div>
{% endblock content %}